*.iws
*Db.properties
*Db.script
.settings
*.log
target
*.zip
plugin.xml
web-app/WEB-INF/tld

/.classpath
/.project
/target-eclipse/
/.idea/
/grails-video.iml
/grails-video-grailsPlugins.iml
/out/
/.DS_Store
